<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.geminiapps.mqttsubscriber">

    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ConnectionDetailActivity" />

        <!-- Connect/Disconnect tasker plugin activity ! -->
        <activity
            android:name=".views.TaskerConnectDisconnectActionActivity"
            android:exported="true"
            android:icon="@android:drawable/gallery_thumb"
            android:label="Connection"
            android:launchMode="singleTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <!-- Start/Stop service tasker plugin activity ! -->
        <activity
            android:name=".views.TaskerStartStopServiceActivity"
            android:exported="true"
            android:icon="@android:drawable/gallery_thumb"
            android:label="Service"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <!-- Message event tasker plugin activity ! -->
        <activity
            android:name=".views.TaskerMessageEventActivity"
            android:exported="true"
            android:icon="@android:drawable/gallery_thumb"
            android:label="Message"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <!-- Connect/Disconnect tasker plugin activity ! -->
        <activity
            android:name=".views.TaskerConnectionEventActivity"
            android:exported="true"
            android:icon="@android:drawable/gallery_thumb"
            android:label="Connection"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" />
            </intent-filter>
        </activity>

        <!-- Publish tasker plugin activity ! -->
        <activity
            android:name=".views.TaskerPublishActionActivity"
            android:exported="true"
            android:icon="@android:drawable/gallery_thumb"
            android:label="Publish"
            android:launchMode="singleTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <!-- Tasker broadcast receiver ! -->
        <receiver
            android:name=".broadcast.MqttTaskerBroadcastReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
                <action android:name="com.geminiapps.mqttsubscriber.OPEN_APP" />
            </intent-filter>
        </receiver>

        <!-- Mqtt Service -->
        <service
            android:name="org.eclipse.paho.android.service.tasker.TaskerMqttService"
            android:process=":org.eclipse.paho.android.service.TaskerMqttService">
        </service>
    </application>

</manifest>